@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <link rel="stylesheet" href="app.css" />
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAARniUO27XBpmFtefiEDN2e9twJs4Tb0U&callback=initMap">
    </script>
    <script src="googleMap.js"></script>

    <main>
        <header>
            <div class="logo-container">
                <img src="MoodLogo.png" alt="Mood Sync Logo" class="logo-small" />
            </div>
            <div class="link-container">
                <a href="/about-us" class="nav-link">About Us</a>
                @if (isLoggedIn)
                {
                    <a href="/logout" class="nav-link">Log Out</a>
                }
                else
                {
                    <a href="/login" class="nav-link">Log In</a>
                }
            </div>
        </header>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isLoggedIn = false;
    private bool _firstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var loginStatus = await JSRuntime.InvokeAsync<string>("localStorage.getItem", new object[] { "isLoggedIn" });

            isLoggedIn = !string.IsNullOrEmpty(loginStatus) && loginStatus == "true";

            StateHasChanged();
        }
    }
}
