@page "/"
@inject IJSRuntime JSRuntime
@using MoodSync.Enums
@using MoodSync.Interfaces
@using MoodSync.Models
@using MoodSync.Services
@using Newtonsoft.Json
@inject IWeatherService WeatherService
@inject ILocationService LocationService
@inject IGeoCodingService GeoCodingService
@inject RecommendationService RecommendationService

<section class="hero-section">
    <h1>Personalized Recommendations</h1>
    <p>Select your mood and location to get personalized recommendations based on the weather and nearby places.</p>
</section>
