@page "/"
@inject IJSRuntime JSRuntime
@using MoodSync.Enums
@using MoodSync.Interfaces
@using MoodSync.Models
@using MoodSync.Services
@using Newtonsoft.Json
@inject IWeatherService WeatherService
@inject ILocationService LocationService
@inject IGeoCodingService GeoCodingService
@inject RecommendationService RecommendationService
@inject NavigationManager NavigationManager
@inject LoginStateService LoginStateService

<header>
    <div class="logo-container">
        <img src="/Photos/MoodLogo.png" alt="Mood Sync Logo" class="logo-small" />
    </div>
    <div class="link-container">
        <a href="/about-us" class="nav-link">About Us</a>

        <a href="/login" class="nav-link">Log In</a>
        
    </div>
</header>


<section class="hero-section">
    <h1>Personalized Recommendations</h1>
    <p>Select your mood and location to get personalized recommendations based on the weather and nearby places.</p>

    <section class="info-section">
        <div class="column">
            <img src="Map.jpg" alt="Map" />
            <p>Explore nearby locations and get recommendations based on your mood and the weather.</p>
        </div>
        <div class="column">
            <img src="weather.jpg" alt="Weather" />
            <p>Check the weather for your current location and adjust your plans accordingly.</p>
        </div>
        <div class="column">
            <img src="Recomendations.png" alt="Recommendations" />
            <p>Get personalized recommendations tailored to your mood and surroundings.</p>
        </div>
    </section>
</section>




